body {
    font-family: 'Comic Neue', cursive;
    background-color: #fff8dc;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff8dc;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #ff6f61;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

.home,
.about,
.portfolio {
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 13px;
}

.music-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ff6f61;
}

.intro {
    display: flex;
    padding: 50px;
}

.intro-text {
    flex: 1;
}

.intro-text h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ff6f61;
    line-height: 1.5;
    margin-bottom: 20px;
}

.intro-text p {
    margin: 20px 0;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Neue', cursive;
    margin-right: 10px;
}

.black {
    background-color: #000000;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.intro-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image img {
    max-width: 80%;
    border-radius: 13px;
    box-shadow: none;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff8dc;
}